/* Main Section */
.about-hero-section {
  position: relative;
  height: 520px;  
  padding: 100px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Overlay */
/* .about-hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
} */
.about-hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(128, 83, 83, 0.11); 
}

/* Content */
.about-hero-content {
  position: relative;
  text-align: center;
  max-width: 900px;
  padding: 0 20px;
  color: white;
}

/* Title */
.about-hero-title {
  font-family: 'Times New Roman', Times, serif;
  color: #ffffff;
  font-size: 56px;

  font-weight: 700;
  margin-bottom: 30px;

}

/* Description */
.about-hero-desc {
  font-size: 20px;
  line-height: 1.6;
  color: rgb(255, 255, 255);
}
/* 📲 TABLET */
@media (max-width: 768px) {
  .about-hero-section {
    padding: 80px 16px;
  }

  .about-hero-title {
    margin-bottom: 16px;
  }
}
/* 📱 MOBILE */
@media (max-width: 480px) {
  .about-hero-section {
    padding: 70px 14px;
    min-height: 420px;
  }

  .about-hero-title {
     margin: 40px auto 20px;
    line-height: 1.0;
  }

  .about-hero-desc {
    line-height: 1.5;
  }
}
/* 📱 SMALL MOBILE */
@media (max-width: 360px) {
  .about-hero-section {
    padding: 60px 12px;
  }
}