.about-info-section {
  background: #f8f8f8;
  padding: 60px 0 40px 0px;
}

/* Container */
.about-info-container {
  width: 96%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  gap: 60px;
  align-items: center;
}

/* Image */
.about-info-image-wrapper {
  border-radius: 20px;
  overflow: hidden;
}

.about-info-image-wrapper img {
  width: 100%;
  height: auto;
  display: block;
}

/* Content */
.about-info-content {
  display: flex;
  flex-direction: column;
}

/* Title */
.about-info-title {
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  font-size: 42px;
  font-weight: 700;
  color: #111827;
  margin-bottom: 20px;
}

/* Text */
.about-info-text {
  text-align: left;
  font-size: 17px;
  line-height: 1.8;
  color: #6b7280;
  margin-bottom: 20px;
}

@media (max-width: 480px) {
  .about-info-section {
    padding: 50px 0;
  }

  .about-info-container {
    padding: 0 16px;
    gap: 30px;
  }

  .about-info-image-wrapper {
    border-radius: 16px;
  }
  .about-info-title {
    /* font-size: 28px; */
    text-align: center;
  }
  .about-info-text {
    text-align: center;
  }
}

@media (max-width: 900px) {
  .about-info-container {
    grid-template-columns: 1fr; /* 🔥 stack */
  }
   .about-info-title {
    /* font-size: 28px; */
    text-align: center;
  }
  .about-info-text {
    text-align: center;
  }
}

@media (min-width: 1400px) {
  .about-info-container {
    max-width: 1300px;
  }
}